.board-view {
    direction: rtl;
}

.member-img {
  height: 32px;
  width: 32px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 50%;
}

.board-view-content {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.top-content {
    margin-bottom: 1%;
}

.bottom-content {
    margin-top: 1%;
}

.group-members {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    height: 100%;
    background-color: lightblue;
    border-radius: 10%;
}

@media screen and (min-width: 577px) {
    .columns-container {
        display: table;
        width: 100%;
        border-spacing: 10px;
    }

    .column {
        display: table-cell;
        width: 30%;
    }
}

@media screen and (max-width: 576px) {
    .columns-container {
        display: flex;
        flex-direction: column;
    }

    .column {
        margin: 2.5%;
    }

    .waiting-column {
        order: 1;
    }

    .active-column {
        order: 2;
    }

    .done-column {
        order: 3;
    }
}


.column-header {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 0;
    width: 100%;
    color: white;
    background-color: #3f51b5;
    vertical-align: middle;
    height: 20%;
}

.column-header h4 {
    vertical-align: middle;
    display: inline;
}

.column {
    min-height: 400px;
    min-width: 30%;
    background-color: lightblue;
    height: fit-content;
}

.column mat-list, .column mat-list-item {
    height: fit-content;
}

.actions button{
    width: 100%;
    margin: 2.5%;
}

.task-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.task-card mat-card {
    margin-bottom: 2%;
}

.line-separator {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
