<div class="board-view">
  <section class="board-view-header">
    <h1>דף ניהול לוח - {{board.boardName}}</h1>
  </section>
  <section class="board-view-content">
    <mat-grid-list class="top-content" [cols]="columnNum" rowHeight="250px">
      <mat-grid-tile [colspan]=chartColspan>
        <div style="display: block">
          <canvas baseChart [data]="board.tasks | taskStatusChart" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <section class="actions">
          <ul style="list-style-type: none">
            <li>
              <button mat-raised-button (click)="openCreateTaskDialog()" color="primary" class="primary-color-hover">הוסף משימה</button>
            </li>
            <li>
              <button mat-raised-button color="primary" class="primary-color-hover">חלק משימות מחדש</button>
            </li>
          </ul>
        </section>
      </mat-grid-tile>
      <mat-grid-tile>
        <section class="group-members">
          <h4>חברי הקבוצה</h4>
          <mat-grid-list cols="3">
            <mat-grid-tile class="group-member" *ngFor="let boardMember of board.boardMembers">
              <label>{{boardMember.name}}</label>
            </mat-grid-tile>
          </mat-grid-list>
        </section>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="line-separator"></div>
    <section class="columns-container">
      <section class="done-column column">
        <section class="column-header" color="primary">
          <h4>Done</h4>
        </section>
        <mat-list>
          <mat-list-item *ngFor="let task of board.tasks | taskStatus:'done'" [@flyInOut]>
            <app-task class="task-card" [task]="task" showEdit="true" showDelete="true"></app-task>
          </mat-list-item>
        </mat-list>
      </section>
      <section class="active-column column">
        <section class="column-header" color="primary">
          <h4>Active</h4>
        </section>
        <mat-list>
          <mat-list-item *ngFor="let task of board.tasks | taskStatus:'active'" [@flyInOut]>
            <app-task class="task-card" [task]="task" showProgressBar="true" showEdit="true" showDelete="true"></app-task>
          </mat-list-item>
        </mat-list>
      </section>
      <section class="waiting-column column">
        <section class="column-header" color="primary">
          <h4>Waiting</h4>
        </section>
        <mat-list>
          <mat-list-item *ngFor="let task of board.tasks | taskStatus:'waiting'" [@flyInOut]>
            <app-task class="task-card" [task]="task" showEdit="true" showDelete="true"></app-task>
          </mat-list-item>
        </mat-list>
      </section>
    </section>
  </section>
</div>