<div class="delete-board-container">
  <h1 mat-dialog-title>האם ברצונך למחוק את הלוח?</h1>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="primary-color-hover" color="primary" [mat-dialog-close]="submitForm()"><span class="fa fa-trash-alt"></span>
      מחק
    </button>
    <button mat-raised-button class="primary-color-hover" color="primary" mat-dialog-close (click)="cancelDialog()"><span class="fa fa-times-circle"></span> 
      ביטול
    </button>
  </div>
</div>
