mat-spinner {
    margin: auto;
}

mat-card {
    width: calc(25% - 20px);
    margin-left: 5px;
}

mat-card mat-card-title {
    font-size: 19px;
}

section {
    margin: 5%;
}

section mat-card {
    margin: 1%;
    background-color: lightblue
}

mat-card-actions {
    text-align: center;
}

button {
  direction: rtl;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    direction: rtl;
}
