mat-spinner {
    margin: auto;
}

mat-card {
    width: 25%;
}

section {
    margin: 5%;
}

section mat-card {
    margin: 1%;
    background-color: lightblue
}

mat-card-actions {
    text-align: left
}

button {
  direction: rtl;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
}
