<div>
  <h1>הלוחות שלי</h1>
  <div class="line-separator"></div>
  <div class="my-boards-container">
    <h2>לוחות בניהולי</h2>
    <div>
      <button mat-raised-button class="primary-color-hover" color="primary" (click)="openCreateBoardDialog()"><span class="fa fa-plus-circle"></span> צור לוח</button>
    </div>
    <div class="cards-container">
      <mat-spinner *ngIf="loadingBoardsIManage"></mat-spinner>
      <mat-card [hidden]="loadingBoardsIManage" *ngFor="let board of boardsIManage">
        <mat-card-title>{{board.title}}</mat-card-title>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/board', board.boardId]" class="primary-color-hover"><span class="fa fa-wrench"></span> נהל לוח</button>
            <div class="actions-container">
              <div class="button" (click)="openDeleteBoardDialog(board.boardId)"><span class="fa fa-trash"></span></div>
              <div class="button" (click)="openEditBoardDialog(board)"><span class="fa fa-edit"></span></div>
            </div>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="line-separator"></div>
  <div class="my-boards-container">
    <h2>לוחות שאני שותף בהם</h2>
    <div class="cards-container">
      <mat-spinner *ngIf="loadingBoardsImSharedWith"></mat-spinner>
      <mat-card [hidden]="loadingBoardsImSharedWith" [@flyInOut] (@flyInOut.done)="doNext()"
      *ngFor="let board of staggeringboardsImShared">
        <mat-card-title>{{board.title}}</mat-card-title>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/board', board.boardId]" class="primary-color-hover"><span class="fa fa-clipboard-list"></span> פתח לוח</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
