<div class="edit-event-container">
  <h1 mat-dialog-title>עריכת אירוע</h1>
  <div mat-dialog-content>
    <section>
      <mat-form-field>
        <input matInput [(ngModel)]="event.title" placeholder="שם אירוע">
      </mat-form-field>
    </section>
    <section class="datetime-picker">
      <label>תאריך תחילה</label>
        <date-time-picker
          [(ngModel)]="startDate"
          placeholder="תאריך תחילה">
        </date-time-picker>
    </section>
    <section class="datetime-picker">
        <label>תאריך סיום</label>
        <date-time-picker
          [(ngModel)]="endDate"
          placeholder="תאריך סיום">
        </date-time-picker>
    </section>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="primary-color-hover" color="primary" [mat-dialog-close]="submitForm()">
      עדכן
    </button>
    <button mat-raised-button class="primary-color-hover" color="primary" mat-dialog-close (click)="cancelDialog()">
      ביטול
    </button>
  </div>
</div>
