<div class="create-event-container">
  <h1 mat-dialog-title>עריכת משימה</h1>
  <div mat-dialog-content>
    <section>
      <label>שם אירוע</label>
      <mat-form-field>
        <input matInput [(ngModel)]="title.value">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <input matInput [matDatepicker]="start" placeholder="תאריך תחילה" [formControl]="startDate" [max]=endDate.value>
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
        <mat-error *ngIf="startDate.hasError('required')">
          תאריך תחילה הוא שדה חובה
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="end" placeholder="תאריך סיום" [formControl]="endDate" [min]="startDate.value">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
        <mat-error *ngIf="endDate.hasError('required')">
          תאריך סיום הוא שדה חובה
        </mat-error>
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" [mat-dialog-close]="submitForm()">
      צור
    </button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="cancelDialog()">
      ביטול
    </button>
  </div>
</div>