<mat-card [style.border-color]="task.owner.color">
  <mat-card-title>{{task.title}}</mat-card-title>
  <mat-card-subtitle>
    <label>משויך ל:</label>
    <img *ngIf="task.owner.image !== undefined" [src]="task.owner.image" class="member-img">
    <img *ngIf="task.owner.image === undefined" src="/assets/src/unknown.jpg" class="member-img">
    <span>{{task.owner.name}}</span>
    <br/>
    <section *ngIf="showOpenBoard">
      <label>שם לוח:</label>
      <a [routerLink]="['/board', task.boardId]">{{task.boardName}}</a>
    </section>
  </mat-card-subtitle>
  <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="calculateCompletedPrecentage(task)"></mat-progress-bar>
  <mat-card-actions>
    <button mat-raised-button (click)="openEditTaskDialog()" *ngIf="showEdit" color="primary" class="primary-color-hover"><span class="fa fa-edit"></span> ערוך</button>
    <button mat-raised-button (click)="openDeleteTaskDialog()" *ngIf="showDelete" color="primary" class="primary-color-hover"><span class="fa fa-trash-alt"></span> מחק</button>
    <button mat-raised-button *ngIf="showOpenBoard" [routerLink]="['/board', task.boardId]" color="primary" class="primary-color-hover"><span class="fa fa-clipboard-list"></span> פתח לוח</button>
  </mat-card-actions>
</mat-card>
