<mat-toolbar color="primary">
  <span>   
   <img src="/assets/src/Flow.png" />
  </span>
  
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  
  <span>שלום, אורח</span>
</mat-toolbar>
<mat-sidenav-container class="nav-container">
  <mat-sidenav opened=true mode="side" position="end" class="my-sidenav">
    <mat-nav-list class="vertical-center">
        <a mat-list-item [routerLink]="['/my-boards']">הלוחות שלי</a>
        <a mat-list-item [routerLink]="['/my-tasks']">המשימות שלי</a>
        <a mat-list-item [routerLink]="['/my-schedule']">הלו"ז שלי</a>        
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Main Section-->     
    <router-outlet *ngIf="!loading"></router-outlet>
    <div class="center">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>